.container {
  min-height: 100vh;
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #710193;
}

.body {
  width: 80%;
  max-width: 68rem;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 4rem 4rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
