.container {
  padding: -2rem -4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #710193;
  padding: 2rem 2rem;
  min-height: 100vh;
  min-width: 100vw;
}

.body {
  width: 100%;
  max-width: 68rem;
  margin: 0;
  background-color: #ffffff;
}

.innerbody {
  width: 100%;
  max-width: 68rem;
  margin: 0;
  background-color: #ffffff;
  padding: 2rem 4rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
